body{
    margin: 0%;
    font-family: 'Zilla Slab', serif;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://lh5.googleusercontent.com/-YBpVvAXmrUEDmdehHY4JLm4KsyyZGvuBn93qjLj_aDK8uLO10383RoiRvOm_biike2pplFuMnUbRPRmczHzoi3GZ3U5sYerCPC2Jrx2I4Rr1tqLonwm6uv88WnG2j88SA=w740');
    height: 780px;
}
.container{
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    background-color: rgba(0, 0, 0,0.8);
    width: 30%;
    justify-content: center;
    align-items: center;
    height: 60%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0,1);
    
}
.btn{
    width: 50%;
    border-radius: 10px;
    border:1px solid red ;
    background-color:  rgba(0, 0, 0,0.0);
    padding: 1% 0%;
}
button{
    background-color:rgba(0, 0, 0,0.0) ;
    color: red;
    border:rgba(0, 0, 0,0.0) ;
}
a{
  color: whitesmoke;  
}
.input1{
    
    border-bottom:2px whitesmoke solid ;
    width: 70%; 
}
input{
    width: 100%;
    background-color:rgba(0, 0, 0,0.0) ;
    border: 0px;

}
.container div{
    margin: 3%;
    text-align: center;
}

@media screen and (max-width:768px) {
    .container{
        width: 50%;
    }
}